@media only screen and (max-width: 1000px) {
    .hero-section {
        margin-top: 50px;
        height: 100%;
    }


    img {
        display: none;
    }

    footer {
        height: 300px;
        bottom: 0px;
    }
  }