<body>
    <header class="hero-section">
      <div class="hero-text-container">
        <h1
          >Next generation<br />
          digital banking</h1
        >
        <p
          >Take your financial life online. Your easy bank account<br />
          will be a one-stop-shop for spending,saving,<br />budgeting, investing,
          and much more.</p
        >
        <button id="createAccount1">Create account</button>
      </div>
      <div class="hero-img-container">
        <img src="../assets/images/bank.webp" alt="" />
      </div>
    </header>
    <br>
    <footer class="footer">
      <div class="footer-container">
       
        <div class="menu">
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="transfers.html">Transaction</a>
          <a href="Loan.html">Loan application</a>
        </div>
          <button id="createAccount2">Create account</button>
      </div>
      <br>
    </footer>
  </body>

